@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;
  --black: #000;

  --gray-50: #FAFAFA;
  --gray-100: #F4F4F5;
  --gray-200: #E4E4E7;
  --gray-300: #D4D4D8;
  --gray-400: #A1A1AA;
  --gray-500: #71717A;
  --gray-600: #52525b;
  --gray-700: #3F3F46;
  --gray-800: #27272A;
  --gray-900: #181818;
}

body {
  font-family: 'Lexend', sans-serif;
  background: var(--gray-50);
}
